#logo {
  width: 200px;
  margin-right: 20px;
}
body {
  background-color: #dbd0c0;
}
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

img.professions {
  width: 500px;
  height: 360px;
}

p,
li,
td {
  font-size: 18px;
  line-height: 1.4;
}
.skill-table {
  border-spacing: 10px;
}
a:link,
a:visited {
  color: #26a4ad;
}
